// CD Bund
$venetian-red:              #DC0018;
$red:                       #F7001D;
$mocassin:                  #fffab2;
$cerulean:                  #006699;
$pattens-blue:              #D8E8EF;
$malibu:                    #66afe9;
$solitude:                  #e7edef;
$clear-day:                 #f2f7f9;

$black:                     #000000;
$night-rider:               #333333; // gray 80%;
$coal:                      #454545; // gray 73%;
$empress:                   #757575; // gray 54%;
$silver:                    #CCCCCC; // gray 20%;
$light-grey:                #D5D5D5; // gray 16%;
$gainsboro:                 #E5E5E5; // gray 10%;
$smoke:                     #F5F5F5; // gray 4%;
$white:                     #FFFFFF;

$sherpa-blue:               #03344D;
$fire-engine-red:           #bb1122;
$cadillac:                  #884488;

$menu-gradient:             linear-gradient(to top, #e8e8e8 0%, #f7f7f7 61%, #f7f7f7 89%, #f5f5f5 91%, #ececec 95%, #d7d7d7 100%);
$menu-border-dark:          #b8b8b8;
$menu-border-light:         $white;


// Colors Bootstrap
// Grayscale and brand colors for use across Bootstrap.
// $white:  #fff !default;
// $black:  #000 !default;
// $red:    #d9534f !default;
$orange:                    #f0ad4e !default;
$yellow:                    #ffd500 !default;
$green:                     #5cb85c !default;
$blue:                      #0275d8 !default;
$teal:                      #5bc0de !default;
$pink:                      #ff5b77 !default;
$purple:                    #613d7c !default;

// Create grayscale
$gray-dark:                 $night-rider;
$gray:                      $coal;
$gray-light:                $empress;
$gray-lighter:              $gainsboro;
$gray-lightest:             $smoke;

// Reassign color vars to semantic color scheme
$brand-primary:             $cerulean; //$blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;


$foto-background-light:     $white;
$foto-background-medium:    $light-grey;
$foto-background-dark:      $coal;

// Options
// $enable-rounded:            true !default;
// $enable-shadows:            false !default;
// $enable-gradients:          false !default;
// $enable-transitions:        true !default;
// $enable-hover-media-query:  false !default;
// $enable-grid-classes:       true !default;
// $enable-print-styles:       true !default;

// Body
// $body-bg:       $white !default;
// $body-color:    $gray-dark !default;
// $inverse-bg:    $gray-dark !default;
// $inverse-color: $gray-lighter !default;


// Links
// $link-color:            $brand-primary !default;
// $link-decoration:       none !default;
// $link-hover-color:      darken($link-color, 15%) !default;
// $link-hover-decoration: underline !default;

// Headings
// $headings-font-weight:   500 !default;
// $headings-line-height:   1.1 !default;
// $headings-color:         inherit !default;

// Fonts
$font-family-base:     'Open Sans', Helvetica, Arial, sans-serif;

// Tables
// $table-cell-padding:            .75rem !default;
// $table-sm-cell-padding:         .3rem !default;

// $table-bg:                      transparent !default;

// $table-inverse-bg:              $gray-dark !default;
// $table-inverse-color:           $body-bg !default;

// $table-bg-accent:               rgba($black,.05) !default;
// $table-bg-hover:                rgba($black,.075) !default;
// $table-bg-active:               $table-bg-hover !default;

// $table-head-bg:                 $gray-lighter !default;
// $table-head-color:              $gray !default;

// $table-border-width:            $border-width !default;
// $table-border-color:            $gray-lighter !default;

// Header, Footer
$header-brand-height-desktop:      144px;
$header-border-height-desktop:     8px;
$header-nav-height-desktop:        60px;

$header-brand-height-mobile:       54px;
$header-border-height-mobile:      4px;

$header-height-mobile:             $header-brand-height-mobile + $header-border-height-mobile;
$header-height-desktop:            $header-brand-height-desktop + $header-nav-height-desktop + $header-border-height-desktop;

// Grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// ) !default;

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1270px
);

// Buttons

// $btn-padding-x:                  1rem !default;
// $btn-padding-y:                  .5rem !default;
// $btn-line-height:                1.25 !default;
$btn-font-weight:                   bold; //$font-weight-normal !default;
// $btn-box-shadow:                 inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075) !default;
// $btn-focus-box-shadow:           0 0 0 2px rgba($brand-primary, .25) !default;
// $btn-active-box-shadow:          inset 0 3px 5px rgba($black,.125) !default;

// $btn-primary-color:              $white !default;
// $btn-primary-bg:                 $brand-primary !default;
// $btn-primary-border:             $btn-primary-bg !default;

// $btn-secondary-color:            $gray-dark !default;
// $btn-secondary-bg:               $white !default;
// $btn-secondary-border:           #ccc !default;

// $btn-info-color:                 $white !default;
// $btn-info-bg:                    $brand-info !default;
// $btn-info-border:                $btn-info-bg !default;

// $btn-success-color:              $white !default;
// $btn-success-bg:                 $brand-success !default;
// $btn-success-border:             $btn-success-bg !default;

// $btn-warning-color:              $white !default;
// $btn-warning-bg:                 $brand-warning !default;
// $btn-warning-border:             $btn-warning-bg !default;

// $btn-danger-color:               $white !default;
// $btn-danger-bg:                  $brand-danger !default;
// $btn-danger-border:              $btn-danger-bg !default;

// $btn-link-disabled-color:        $gray-light !default;

// $btn-padding-x-sm:               .5rem !default;
// $btn-padding-y-sm:               .25rem !default;

// $btn-padding-x-lg:               1.5rem !default;
// $btn-padding-y-lg:               .75rem !default;

// $btn-block-spacing-y:            .5rem !default;
// $btn-toolbar-margin:             .5rem !default;

// // Allows for customizing button radius independently from global border radius
$btn-border-radius:                 4px;//$border-radius !default;
// $btn-border-radius-lg:           $border-radius-lg !default;
// $btn-border-radius-sm:           $border-radius-sm !default;

// $btn-transition:                 all .2s ease-in-out !default;



// primary
// .Rectangle-4 {
//   width: 219px;
//   height: 44px;
//   border-radius: 4px;
//   background-color: #006699;
// }






// Copy and override more from _variables.scss to override Buttons, Forms, Dropdowns, Checkboxes etc
